/* body{
    background-color: seashell;
} */

#first{
    background-color: red;
    color: white;
}
.bg-blue{
    background-color: rosybrown;
    color: white;
}
.bg-yellow{
   background-color: yellow;
}